@model Ram
@{
    ViewData["Title"] = "Detail Ram";
}


<div>
    <h4>Ram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @* <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Processor.Image)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Processor.Image)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeMemory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeMemory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperatingFrequency)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div class="ms-5">
    <a asp-controller="Ram" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success me-md-2">Edit</a>
    <a asp-controller="Ram" asp-action="Index" class="btn btn-primary">Back to List</a>
</div>